<link rel="stylesheet" href="./Customizing/global/plugins/Services/UIComponent/UserInterfaceHook/RecommenderSystem/templates/css/recsys_2.css">

<div class="recsys-module-tile recsys-lo-tile">
	<h3>{TXT_MODULE_TO_LABEL}</h3>
	
	{TXT_MODULE_TO_NO_CONTENT}
	
	<!-- BEGIN Test  -->
	<div class="recsys-lo container-fluid">
		<div class="row recsys-lo-header">
			<div class="recsys-lo-title col-sm-7">
				<!--{VAL_LO_TITLE} {VAL_LO_TEST_STATUS}-->
				Week 1
			</div>
		</div>
		<div class="row recsys-lo-header recsys-lo-feedback">
			<div class="col-sm-4 recsys-lo-header-label">
				<!--{TXT_LOF_TEXT}:-->
				Completed
			</div>
			<!--Here ofc is gonna be a checkbox depending if a student has taken a test or not-->
			<div class="col-sm-2">
				<a href="{RECSYS_LOF_ACTION}&recsys_lof_rating=1&leap_lo_id={VAL_LOF_ID}"
					class="recsys-lo-btn-feedback recsys-lo-btn-feedback-{VAL_LOF_BTN_LOW_COLOR}"
					title="{TXT_LOF_BTN_LOW_TITLE}">
					<span class="glyphicon glyphicon-star{VAL_LOF_BTN_LOW_STAR}"></span>
				</a>
			</div>
			<div class="col-sm-4 recsys-lo-header-label">
				<!--{TXT_LOF_TEXT}:-->
				Score
			</div>
			<!--Here is gonna be number of points scored in the test insted of rating stars-->
			<div class="col-sm-2">
				<a href="{RECSYS_LOF_ACTION}&recsys_lof_rating=1&leap_lo_id={VAL_LOF_ID}"
					class="recsys-lo-btn-feedback recsys-lo-btn-feedback-{VAL_LOF_BTN_LOW_COLOR}"
					title="{TXT_LOF_BTN_LOW_TITLE}">
					<span class="glyphicon glyphicon-star{VAL_LOF_BTN_LOW_STAR}"></span>
				</a>
				<a href="{RECSYS_LOF_ACTION}&recsys_lof_rating=2&recsys_lo_id={VAL_LOF_ID}"
					class="recsys-lo-btn-feedback recsys-lo-btn-feedback-{VAL_LOF_BTN_MEDIUM_COLOR}"
					title="{TXT_LOF_BTN_MEDIUM_TITLE}">
					<span class="glyphicon glyphicon-star{VAL_LOF_BTN_MEDIUM_STAR}"></span>
				</a>
				<a href="{RECSYS_LOF_ACTION}&recsys_lof_rating=3&_lo_id={VAL_LOF_ID}"
					class="recsys-lo-btn-feedback recsys-lo-btn-feedback-{VAL_LOF_BTN_HIGH_COLOR}"
					title="{TXT_LOF_BTN_HIGH_TITLE}">
					<span class="glyphicon glyphicon-star{VAL_LOF_BTN_HIGH_STAR}"></span>
				</a>
			</div>
		</div>
		<div class="row recsys-lo-material">
			<div>
				{ITEM_HTML}
			</div>
		</div>
		<div class="row recsys-lo-material">
			<table>
				<tr>
				<th style="width:50%; text-align: left">Topics (Tags) covered in the test:</th>
				<th style="width:50%; text-align: right">Performance on each topic:</th>
				</tr>
				<!--
					to implement here: 
					each row corresponds to a tag (topic) that in covered in the test 
					and the score calculated as: 
					number of questions with tag i answered correclty by a student/number of all questions in that test with a tag i 
				-->
			</table>
		</div>
	</div>
	<!-- END Test -->
	
	
</div>
