<link rel="stylesheet" href="./Customizing/global/plugins/Services/UIComponent/UserInterfaceHook/RecommenderSystem/templates/css/recsys_2.css">
<link rel="stylesheet" href="./Customizing/global/plugins/Services/UIComponent/UserInterfaceHook/RecommenderSystem/templates/css/accordion.css"-->
<link rel="stylesheet" href="./templates/default/delos.css">


<form id="form_recsys" role="form"
	class="recsys-module-tile recsys-lo-tile"
	action="{RECSYS_STUDENT_RECOMMEND}"
	method="post" 
	novalidate="novalidate">

	{TXT_MODULE_TO_NO_CONTENT}
	
	<!-- BEGIN Types -->
	<button type="button" class="accordion">{MATERIAL_TYPE}</button>
	<div class="panel">
		<!-- BEGIN Materials  -->
		<div class="recsys-lo container-fluid" style="margin: 5px">
			<div class="row recsys-lo-material" style="display:flex">
				<div>
					{ITEM_HTML}
				</div>
			</div>
			<table class="table table-striped fullwidth">
			<!-- BEGIN Tags -->
				<tr title="{TAG}" style="display:flex">
					<td style="width: 10%"><input name="{ITEM_ID}_{SECTION}" type="checkbox" {TAG_SELECTED} ></input></td>
					<td style="width: 100%; display: flex; flex-direction: row; flex-wrap: wrap;">
						<!-- BEGIN Subtags -->
						<div style="display: flex; margin-right: 5px; margin-bottom: 5px; padding: 4px; box-shadow: 0px 2px 2px 0px gray; color: white ; background-color: #4c6586;">{TAG}</div>
						<!-- END Subtags -->
					</td>
					<td style="width: 170px; display:flex">
						<div style="display:flex; align-items: center;">
							<!-- BEGIN Stars -->
							<div class="glyphicon glyphicon-star{STAR_EMPTY}" id="{ITEM_ID}_{SECTION}_{STAR_COUNT}_star" style="color:#4c6586; margin-right:-3px;" ></div>
							<!-- END Stars -->
						</div>						
					</td>
					<td class="descfield" id="{ITEM_ID}_{MATERIAL_TYPE}_{FILE_TYPE}" value="{FROM}_{TO}" style="display:flex"><div></div><input name="{ITEM_ID}_{SECTION}_desc"></input></td>
				</tr>	
			<!-- END Tags -->
			</table>
		</div>
		<!-- END Materials -->
	</div>
	<!-- END Types -->
	<div style="display: flex;">
	<input class="btn btn-default" style="width: 48%; padding: 18px;" value="{CLEAR_SELECTION}" onclick="clear_selection()"></input>
	<input class="btn btn-default" style="width: 48%; padding: 18px; margin-left: auto" type="submit" name="cmd[save]" value="{RECOMMEND}"></input>
	</div>
</form>

<script>

	var acc = document.getElementsByClassName("accordion");
	var i;
	
	for (i = 0; i < acc.length; i++) {
	  acc[i].addEventListener("click", function() {
		this.classList.toggle("active-panel");
		var panel = this.nextElementSibling;
		if (panel.style.maxHeight) {
		  panel.style.maxHeight = null;
		} else {
		  panel.style.maxHeight = panel.scrollHeight + "px";
		}
	  });
	}

	var descfields = document.getElementsByClassName("descfield");
	//based on the id of the descfield, set the placeholder

	for (var i = 0; i < descfields.length; i++) {
		from_to = descfields[i].getAttribute("value").split("_");
		update_descfieldtype(descfields[i], from_to[0], from_to[1]);
	}

	function update_descfieldtype(descfield, from="", to=""){
		var type = descfield.id.split("_")[1];
		var filetype = descfield.id.split("_")[2];
		var item_id = descfield.children[1].name.split("_")[0];
		var section = descfield.children[1].name.split("_")[1];
		if (type == "file") {
			if (filetype == "exc") {
				descfield.innerHTML = '<div style="margin: auto; width:fit-content"> Task </div>'
				+ '<div style="margin: auto auto auto 5px; width:40px; text-align: center;" name="' + item_id + '_' + section + '_desc" >' + from + '</div>';
			}
			else if(filetype == "video"){
				frommin = from.split(":")[0];
				fromsec = from.split(":")[1];
				tomin = to.split(":")[0];
				tosec = to.split(":")[1];
				descfield.innerHTML = '<div style="margin: auto; width:fit-content"> Time </div>'
					+ '<div style=" margin: auto 5px auto 5px; width:40px; text-align: center;" name="' + item_id + '_' + section + '_descfrommin">' + frommin +'</div>'
					+ '<div style="margin: auto; text-align: center;">:</div><div style=" margin: auto 5px auto 5px; width:40px; text-align: center;" name="' + item_id + '_' + section + '_descfromsec">' + fromsec +'</div>'
					+ '<div style="margin: auto; text-align: center;"> - </div><div style=" margin: auto 5px auto 5px; width:40px; text-align: center;" name="' + item_id + '_' + section + '_desctomin">' + tomin + '</div>'
					+ '<div style="margin: auto; text-align: center;">:</div><div style=" margin: auto 5px auto 5px; width:40px; text-align: center;" name="' + item_id + '_' + section + '_desctosec">' + tomin + '</div>'
			}
			else{
				input_names = {"script": "Page", "presentation": "Slide"}
				descfield.innerHTML = '<div style="margin: auto; width:fit-content">' + input_names[filetype]
					+ '</div><div style="text-align: center; margin: auto 5px auto 5px; width:40px; width:40px;" name="' + item_id + '_' + section + '_descfrom">' + from + '</div>'
					+ '<div style="margin: auto; text-align: center;"> - </div>'
					+ '<div style="text-align: center; margin: auto 5px auto 5px; width:40px;" name="' + item_id + '_' + section + '_descto">' + to + '</div>';
			}
		}
		else if (type == "webr") {
			//weblink
			descfield.innerHTML = null;
		}
		else if (type == "exc") {
			descfield.innerHTML = '<div style="margin: auto; width:fit-content"> Task </div>'
				+ '<div style="margin: auto auto auto 5px; width:40px;" name="' + item_id + '_' + section + '_desc" >' + from + '</div>';
		}
		else if (type == "test") {
			descfield.innerHTML = "";
		}
		else if (type == "bibliography") {
			descfield.innerHTML = "";
		}
	}

	function clear_selection(){
		var checkboxes = document.getElementsByTagName("input");
		for (var i = 0; i < checkboxes.length; i++) {
			if (checkboxes[i].type == "checkbox") {
				checkboxes[i].checked = false;
			}
		}
	}

</script>