<link rel="stylesheet" href="./Customizing/global/plugins/Services/UIComponent/UserInterfaceHook/RecommenderSystem/templates/css/recsys_2.css">
<link rel="stylesheet" href="./Customizing/global/plugins/Services/UIComponent/UserInterfaceHook/RecommenderSystem/templates/css/accordion.css">
<link rel="stylesheet" href="./templates/default/delos.css">


<form id="form_recsys" role="form"
	class="recsys-module-tile recsys-lo-tile"
	action="{RECOMMEND}"
	method="post" 
	novalidate="novalidate">

	{TXT_MODULE_TO_NO_CONTENT}
	
	<!-- BEGIN Types -->
	<button type="button" class="accordion">{MATERIAL_TYPE}</button>
	<div class="panel">
		<!-- BEGIN Materials  -->
		<div class="recsys-lo container-fluid" style="margin: 5px">
			<div class="row recsys-lo-material">
				<div>
					{ITEM_HTML}
				</div>
			</div>
			<table class="table table-striped fullwidth">
			<!-- BEGIN Tags -->
				<tr title="{TAG}">
					<td style="width: 10%"><input name="{ITEM_TITLE}_{TAG}" type="checkbox" {TAG_SELECTED} /></td>
					<td style="width: 20%;">{TAG}</td>
					<td style="width: 70%;">{COMMENT}</td>
				</tr>	
			<!-- END Tags -->
			</table>
		</div>
		<!-- END Materials -->
	</div>
	<!-- END Types -->
	<input class="btn btn-default" style="width: 100%; padding: 18px;" type="submit" name="cmd[update]" value="{RECOMMEND}">
</form>

<script>
	var acc = document.getElementsByClassName("accordion");
	var i;
	
	for (i = 0; i < acc.length; i++) {
	  acc[i].addEventListener("click", function() {
		this.classList.toggle("active-panel");
		var panel = this.nextElementSibling;
		if (panel.style.maxHeight) {
		  panel.style.maxHeight = null;
		} else {
		  panel.style.maxHeight = panel.scrollHeight + "px";
		}
	  });
	}
</script>