<link rel="stylesheet" href="./Customizing/global/plugins/Services/UIComponent/UserInterfaceHook/RecommenderSystem/templates/css/recsys.css">
<!--link rel="stylesheet" href="./Customizing/global/plugins/Services/UIComponent/UserInterfaceHook/RecommenderSystem/templates/lib/bootstrap-slider/bootstrap-slider.min.css"-->


<!-- Libraries -->
<!--script type="text/javascript" src="./Services/Calendar/lib/bootstrap3_datepicker/bootstrap-datetimepicker.min.js"></script-->
<!--script type="text/javascript" src="./Customizing/global/plugins/Services/UIComponent/UserInterfaceHook/RecommenderSystem/templates/lib/bootstrap-slider/bootstrap-slider.min.js"></script-->

<!-- Start Code -->
<div class="recsys-modules-frame">
	{MATERIALS}
	{RECOMMENDATIONS}	
	<!--	{MOD_REMINDER}	-->
	<div style="display: block; clear: both;"></div>
</div>
